---
import Section from "../Section.astro";

import HTML from "@/icons/html.astro";
import CSS from "@/icons/css.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/type.astro";
import React from "@/icons/react.astro";
import Node from "@/icons/node.astro";
import MySQL from "@/icons/Mysql.astro"
import Git from "@/icons/git.astro";
import GitHub from "@/icons/GitHub.astro";
import Tailwind from "@/icons/tailwind.astro";
import Next from "@/icons/next.astro";
import Swift from "@/icons/swift.astro";
import SwiftUI from "@/icons/swiftui.astro";
import Kotlin from "@/icons/kotlin.astro";
import Flutter from "@/icons/flutter.astro";
import Figma from "@/icons/Figma.astro";
import Gitlab from "@/icons/Gitlab.astro";
import Java from "@/icons/Java.astro";
import Nest from "@/icons/Nest.astro";
import Spring from "@/icons/Spring.astro";
import Python from "@/icons/Python.astro";
import C from "@/icons/C.astro";
import Docker from "@/icons/Docker.astro";
import Jenkins from "@/icons/jenkins.astro";
import Postman from "@/icons/Postman.astro";
import Android from "@/icons/Android.astro";
import VScode from "@/icons/VScode.astro";
import { skills } from "@cv";
import IntelliJ from "@/icons/IntelliJ.astro";
import Scala from "@/icons/Scala.astro";
import GraphQL from "@/icons/GraphQL.astro";


const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  MySQL,
  Git,
  GitHub,
  Next,
  Tailwind,
  Swift,
  SwiftUI,
  Kotlin,
  Flutter,
  Figma,
  Gitlab,
  Java,
  Nest,
  Spring,
  Python,
  C,
  Docker,
  Jenkins,
  Postman,
  Android,
  VScode,
  IntelliJ,
  Scala,
  GraphQL
};

---

<Section className={Astro.props.className} title="Skills">
  {
    Object.entries(skills).map(([category, items]) => (
      <div class="mb-6 w-full">
        <h3 class="mb-2 text-sm font-semibold capitalize text-skin-muted">{category}</h3>
        <ul class="[&>li>svg]:text-skin-hue inline-flex flex-wrap gap-2 [&>li>svg]:size-5 [&>li]:text-sm">
          {
            items.map(({ name }) => {
              const iconName = name === "Next.js" ? "Next" : name;
              const Icon = SKILLS_ICONS[iconName];

              return (
			  <li class="border-skin-hue/20 bg-skin-button-accent/20 flex items-center gap-0.5 rounded-md px-2 py-0.5 text-xs text-skin-muted print:border-none print:bg-transparent print:p-0 print:text-zinc-800">
          {Icon && <Icon />} <span>{name}</span>
        </li>
              );
            })
          }
        </ul>
      </div>
    ))
  }
</Section>
